@model UserInfo
@{
	ViewBag.Title = "Application Form";
}
<h1 class="h4 text-center">Meeting Application Form</h1>
<form method="post" action="">
	<div class="mb-3">
		<label asp-for="Name" class="form-label">Name</label>
		<input asp-for="Name" class="form-control">
	</div>
	<div class="mb-3">
		<label asp-for="Phone" class="form-label">Phone</label>
		<input asp-for="Phone" class="form-control">
	</div>
	<div class="mb-3">
		<label asp-for="Email" class="form-label">Email</label>
		<input asp-for="Email" class="form-control">
	</div>
	<div class="mb-3">
		<label asp-for="WillAttend" class="form-label">Status</label>
		<select asp-for="WillAttend" class="form-select">
			<option value="true">Coming</option>
			<option value="false">Not Coming</option>
		</select>
	</div>
	<button class="btn btn-primary text-center" type="submit">Submit</button>
</form>