@{
	ViewBag.Title = "List of Meeting Attendees";
}
<main class="text-center">
	<h1 class="h4">List of Meeting Attendees</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Name</td>
				<td>Participating Status</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Kubilay Birer</td>
				<td>Yes</td>
				<td>
					<a href="#">Details</a>
				</td>
			</tr>
			<tr>
				<td>Boncuk Birer</td>
				<td>Yes</td>
				<td>
					<a href="#">Details</a>
				</td>
			</tr>
		</tbody>
	</table>
</main>
