<h1>List of Meeting Attendees</h1>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Participating Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kubilay Birer</td>
            <td>info@kubicix.com</td>
            <td>Yes</td>
            <td>
                <a href="#">Details</a>
            </td>
        </tr>
        <tr>
            <td>Boncuk Birer</td>
            <td>info@boncuk.com</td>
            <td>Yes</td>
            <td>
                <a href="#">Details</a>
            </td>
        </tr>
    </tbody>
</table>