@{
    Layout="_Layout2";
}

<h1 class="h4">Hello, Guest!</h1>
<p>Please let us know that if you are joining our meeting.</p>
<a class="btn btn-sm btn-outline-danger" asp-controller="Meeting" asp-action="apply">Make an appointment</a>